<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<nav th:replace="layouts :: nabvarlayout"></nav>
<div class="jumbotron text-center">
    <h1>Project Management Page
        <small><span th:text="${versionNumber}"/> Version </span></small>
    </h1>
    <p>Efficient way to manage project!</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <h3>Projects</h3>
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">Project Name</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="projectTempVariable : ${projectList}">
                    <td th:text="${projectTempVariable.name}"></td>
                    <td th:text="${projectTempVariable.stage}"></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Employees</h3>
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Project Count</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeVariable : ${employeeprojectList}">
                    <td th:text="${employeeVariable.firstname}"></td>
                    <td th:text="${employeeVariable.lastname}"></td>
                    <td th:text="${employeeVariable.projectCount}"></td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <canvas id="pichart" height="50" th:width="50">
                <script>
                    var  chartData = "[[${jsondata}]]";

                </script>
            </canvas>
        </div>

    </div>

</div>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>
