<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="layouts :: nabvarlayout"></nav>

<div class="container">
    <h3>Employee Directory</h3>
    <hr/>
    <a th:href="@{/employee/new}" class="btn btn-primary">Add Employee</a>
        <div class="col-sm-8">
            <h3>Employees</h3>
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeVariable : ${employeeList}">
                    <td th:text="${employeeVariable.firstname}"></td>
                    <td th:text="${employeeVariable.lastname}"></td>
                    <td th:text="${employeeVariable.email}"></td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>
