
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>


<nav th:replace="layouts :: nabvarlayout"></nav>
<div class="container">

    <div class="col-sm-8">
        <form th:action="@{/project/save}" th:object="${project}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Project name" name="name" th:field="${project.name}">
            </div>

            <div class="form-group">
                <label for="stage">Status:</label>
                <select class="form-control" id="stage"  name="stage" th:field="${project.stage}">
                    <option value="NOTSTARTED">Not Started</option>
                    <option value="INPROGRESS">In Progress</option>
                    <option value="COMPLETED">Completed</option>
                    <select>
            </div>
            <div class="form-group">
                <label for="description">Project Description</label>
                <input class="form-control" type="text" name="description" id="description" placeholder="Project description" th:field="${project.description}">
            </div>

            <div class="form-group">
                <label for="employee">Assign Employee:</label>
                <select class="form-control" id="employee"  name="employee" th:field="*{employee}" multiple>
                    <option th:each="employee: ${allEmployee}" th:value="${employee.employeeid}" th:text="${employee.firstname}"></option>

                    <select>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button type="submit" class="btn btn-primary">Create Project</button>

        </form>
    </div>
</div>

</body>

</html>